<p id="notice"><%= notice %></p>

<h1>Listing Filecards</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Public</th>
      <th>Submitdate</th>
      <th>Subject</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filecards.each do |filecard| %>
      <tr>
        <td><%= filecard.question %></td>
        <td><%= filecard.answer %></td>
        <td><%= filecard.public %></td>
        <td><%= filecard.submitDate %></td>
        <td><%= link_to filecard.subject.name, filecard.subject %></td>
        <td><%= link_to filecard.user.name, filecard.user%></td>
        <td><%= link_to 'Show', filecard %></td>
        <td><%= link_to 'Edit', edit_filecard_path(filecard) %></td>
        <td><%= link_to 'Destroy', filecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filecard', new_filecard_path %>
