<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Datecreated:</strong>
  <%= @subject.dateCreated %>
</p>

<p>
  <strong>Active:</strong>
  <%= @subject.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @subject.user.name %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', :back %>
